@{
    Layout = "_AdminLayout";
    <!-- dùng layout admin riêng -->
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Xin chào Admin: @ViewBag.Name</h2>
<hr />
<p>Đây là trang quản lý dành cho Admin.</p>
